<div class="header">
    <div class="fan"></div>
    <div class="container-fluid">
        <div class="row">
            <nav class="nav-primary">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <img class="logo" src="../images/docker-docs-logo.svg" alt="Docker Docs" title="Docker Docs">
                    </div>
                    <div class="navbar-collapse collapse">
                        <ul class="primary nav navbar-nav">
                            <li><a href="https://www.docker.com/why-docker">なぜ Docker?</a></li>
                            <li><a href="https://docs.docker.com/get-started/">はじめよう</a></li>
                            <li><a href="https://www.docker.com/products">製品</a></li>
                            <li><a href="https://docker.com/docker-community">コミュニティ</a></li>
                            <li><a href="https://hub.docker.com/signup">Docker ID 生成</a></li>
                            <li><a href="https://hub.docker.com/sso/start">サインイン</a></li>
                        </ul>
                        </div>
                    <!--/.nav-collapse -->
                </div>
            </nav>
        </div>
    </div>
    <!-- hero banner text -->
    <div class="container-fluid">
        <div class="row">
            <div class="hero-text">
                <div class="hero-text-centered">
                    <h1>{{ site.name }}</h1>
                    <p>Docker は分離されたコンテナー内にて安全にアプリを実行する方法を提供します。依存パッケージやライブラリはすべてパッケージングされます。</p>
                    <ul class="buttons">
                        <li><a class="button transparent-btn" href="/install/" target="_blank">Docker の入手</a></li>
                        <li> <a class="button secondary-btn" href="/get-started/" target="_blank">はじめよう</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- nav-secondary -->
    <!-- data-offset-top should calculated as follows: (height of <header> - header of <nav>) -->
    <nav class="nav-secondary-tabs" data-spy="affix" data-offset-top="385">
        <div class="container-fluid">
            <div class="navbar-collapse" aria-expanded="false" style="height: 1px;">
                {% include navigation.html %}
            </div>
        </div>
    </nav>
</div>
