<section class="join-community dockercon">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-md-6 col-lg-offset-1 col-lg-7">
        <h2>
          クラウドとともにはじめよう
        </h2>
        <h5>
          Azure コンテナーインターフェース（ACI）を使って、新たな Docker を Azure 上に実現してください。
          開発コンテナーを 10 分でクラウド上に稼動させることができます。
        </h5>
      </div>
      <div class="col-xs-12 col-md-6 col-lg-4 text-center">
        <a class="btn" href="https://www.docker.com/blog/running-a-container-in-aci-with-docker-desktop-edge/" target="_blank" class="card">
          さらに詳しくはこちら
        </a>
      </div>
    </div>
  </div>
</section>
