<div class="col-xs-12 col-lg-4 card-holder">
  <div class="cardlet container-fluid">
    <div class="row">
      <div class="col-xs-12">
        <h5 class="title">人気のビデオ</h5>
        <p>DockerCon での最も人気のあるビデオをご覧ください。</p>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-md-6 col-lg-12">
        <a class="video-item" href="https://docker.events.cube365.net/docker/dockercon/content/Videos/hgMFTyX5kYKmTPWZo" target="_blank">
          <img class="video-image" src="{{ site.baseurl }}/images/video.svg" />
          <div class="video-title">Docker のはじめ方</div>
        </a>
      </div>
      <div class="col-xs-12 col-md-6 col-lg-12">
        <a class="video-item" href="https://docker.events.cube365.net/docker/dockercon/content/Videos/NjnEcHsq29HMDbMRn" target="_blank">
          <img class="video-image" src="{{ site.baseurl }}/images/video.svg" />
          <div class="video-title">クラウド上での Docker イメージのビルドとテスト</div>
        </a>
      </div>
      <div class="col-xs-12 col-md-6 col-lg-12">
        <a class="video-item" href="https://docker.events.cube365.net/docker/dockercon/content/Videos/AG9iBqW3BdXTR9Zfh" target="_blank">
          <img class="video-image" src="{{ site.baseurl }}/images/video.svg" />
          <div class="video-title">Docker Compose を使ってあらゆるものを単純化する</div>
        </a>
      </div>
    </div>
  </div>
</div>
